@charset "utf-8";
/*
    コンパイルは views/scss/　にて
    compass compile
     または
    compass watch
*/
@-moz-keyframes tada {
  /* line 16, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  0% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  10% {
    -moz-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  20% {
    -moz-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  30% {
    -moz-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 27, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  40% {
    -moz-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  50% {
    -moz-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 33, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  60% {
    -moz-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 36, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  70% {
    -moz-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 39, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  80% {
    -moz-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 42, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  90% {
    -moz-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 45, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  100% {
    -moz-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@-webkit-keyframes tada {
  /* line 16, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  10% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  30% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 27, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  40% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  50% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 33, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  60% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 36, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  70% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 39, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 42, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 45, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@-o-keyframes tada {
  /* line 16, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  0% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  10% {
    -o-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  20% {
    -o-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  30% {
    -o-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 27, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  40% {
    -o-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  50% {
    -o-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 33, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  60% {
    -o-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 36, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  70% {
    -o-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 39, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  80% {
    -o-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 42, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  90% {
    -o-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 45, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  100% {
    -o-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@-ms-keyframes tada {
  /* line 16, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  0% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  10% {
    -ms-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  20% {
    -ms-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  30% {
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 27, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  40% {
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  50% {
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 33, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  60% {
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 36, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  70% {
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 39, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  80% {
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 42, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  90% {
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 45, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  100% {
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  /* line 16, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  0% {
    transform: scale(1, 1);
  }

  /* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  10% {
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  20% {
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  30% {
    transform: scale(1.1) rotate(3deg);
  }

  /* line 27, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  40% {
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  50% {
    transform: scale(1.1) rotate(3deg);
  }

  /* line 33, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  60% {
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 36, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  70% {
    transform: scale(1.1) rotate(3deg);
  }

  /* line 39, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  80% {
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 42, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  90% {
    transform: scale(1.1) rotate(3deg);
  }

  /* line 45, ../../../../../../../Library/Ruby/Gems/1.8/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  100% {
    transform: scale(1) rotate(0);
  }
}

/* line 74, ../../views/sass/index.scss */
body {
  background: url("../images/bookParts/woodtable.jpg") repeat;
  background-size: cover;
  font-family: "Take Light","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* line 80, ../../views/sass/index.scss */
#titleRow {
  margin-top: 105px;
  margin-left: 71px;
}

/* line 84, ../../views/sass/index.scss */
#subtitleRow {
  margin-left: 71px;
  margin-bottom: 46px;
}

/* line 92, ../../views/sass/index.scss */
#book #bookImg {
  position: absolute;
  height: 611.5px;
  width: 893px;
}
/* line 97, ../../views/sass/index.scss */
#book #pageBox {
  position: absolute;
  top: 17px;
  left: 33px;
  width: 829px;
  height: 578px;
}
/* line 105, ../../views/sass/index.scss */
#book #pageBox .page .pageBgImg {
  height: 578px;
  width: 414.5px;
}
/* line 109, ../../views/sass/index.scss */
#book #pageBox .page .pageContent {
  position: absolute;
  top: 0;
  left: 0;
  height: 578px;
  width: 414.5px;
  overflow: hidden;
}
/* line 118, ../../views/sass/index.scss */
#book #pageBox .rightPage {
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -ms-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
}
/* line 120, ../../views/sass/index.scss */
#book #pageBox .rightPage .pageBgImg {
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -ms-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
}
/* line 123, ../../views/sass/index.scss */
#book #pageBox .leftPage {
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
  border-radius: 15px 0 0 15px;
}
/* line 125, ../../views/sass/index.scss */
#book #pageBox .leftPage .pageBgImg {
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
  border-radius: 15px 0 0 15px;
}

/* line 130, ../../views/sass/index.scss */
footer {
  height: 400px;
}

/* line 141, ../../views/sass/index.scss */
.pageHeader p.date {
  font-size: 35px;
  margin: 12px;
  margin-left: 22px;
  font-family: Courier New;
  line-height: 54px;
}

/* line 159, ../../views/sass/index.scss */
div.itemBox {
  margin-left: 12px;
}
/* line 163, ../../views/sass/index.scss */
div.itemBox div.item {
  display: inline-block;
  max-width: 166px;
  margin: 5px;
  padding: 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 171, ../../views/sass/index.scss */
div.itemBox div.item p.time {
  margin: -4px;
  padding: -3px;
  margin-right: 10px;
  margin-bottom: 3px;
  font-size: 8px;
  color: gray;
  text-align: right;
}
/* line 181, ../../views/sass/index.scss */
div.itemBox div.item img.serviceIcon {
  float: left;
  padding-right: 3px;
  padding-bottom: 0px;
  margin-top: -17px;
  margin-left: -21px;
}
/* line 189, ../../views/sass/index.scss */
div.itemBox div.item p.message {
  margin: 3px;
  padding: 0px;
  font-size: 10px;
}
/* line 195, ../../views/sass/index.scss */
div.itemBox div.item div.rightTextBlock {
  display: inline-block;
  font-size: 12px;
}
/* line 203, ../../views/sass/index.scss */
div.itemBox div.item.twitter {
  background-color: #c0cdd5;
  padding: 10px;
}
/* line 207, ../../views/sass/index.scss */
div.itemBox div.item.twitter p.time {
  color: rgba(111, 114, 116, 0.93);
}
/* line 210, ../../views/sass/index.scss */
div.itemBox div.item.twitter p.message {
  color: #145174;
}
